update_files.sh
.sdot.*
*.kdev4
build/
ext/
*.vtk
*.vtu
*.so
*.o
*.tok
.vscode/
*.autosave
callgrind.out*
*.exe
*.png
oprofile_data/
tmp/
data/
hugo/
vtk/
*.pdf
*.user
results/
*.pyc
*.cpython
scripts/

