update_files.sh
.generated_libs/
.sdot_kernel.*
.sdot_parex.*
.sdot_elem.*
.sdot.*
*.dot
*.kdev4
build/
ext/
*.vtk
*.vtu
*.so
*.o
*.tok
.vscode/
*.autosave
callgrind.out*
*.exe
*.png
oprofile_data/
tmp/
data/
vtk/
*.pdf
*.pvsm
*.user
results/
*.pyc
*.dot
*.cpython
Untitled.*
Untitled-checkpoint.*
objects/
.gitold/
.asimd.*
.parex.*
